doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://unpkg.com/vue@3.0.4/dist/vue.esm-browser.prod.js')
    script(src='./app.js')
